	<%= render 'intro' %>
	<div class="large-6 medium-6 columns" style="padding: 0.5em">
		<br/>
		<div class="row" style="padding: 2em 2em 0em 2em; color: white">
			<%= render "static_pages/set_challenges_home" %>
		</div>
		<div class="row">
			<div class="text-center">
			<span><a id="signup" class="button radius alert small">Join now!</a></span>
			<p style="font-size: 70%; color: #b6b6b6">It's free. No scam. No ads. No fake accounts.<p>
			</div>
		</div>
		</div>
	<div class="large-6 medium-6 columns text-center" style="padding: 1em 2em 2em 1em">
		<span><%= image_tag "bannerL.png" %></span>
	</div>
