<footer class="text-center" style="background-color:rgba(125,25,53,1.0)">
<div class="row" style="padding-top: 10px">
  <p class="left" style="color:grey">Powered by Cheersee.co</p>
  <p class="right"><%= link_to "About Cheersee", question_answers_path, style: "color:white" %></p>
</div>
</footer>