			<h4 class="text-center" style="color:white">What's waiting for you?</h4>
			<ul>
				<li style="margin: 0.5em">Rock every day by taking challenges</li>
				<li style="margin: 0.5em">Catch up with friends and have fun</li>
				<li style="margin: 0.5em">Compete with people around and enjoy awesome friendship</li> 
			</li>