<div class="row" style="padding: 0.5em">
	<div class="large-8 medium-10 small-12 small-centered columns">
		<div class="row" style="margin-top: 2em">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
				<li class="text-center"><%= image_tag "vuongngo.jpeg", size: "200x200"%></li>
				<li>
					<h3 style="font-family:Palatino Linotype; color: #000000">Vuong Ngo</h3>
					<p>Competitive guy. A nerd during the day; insanely socializing at night. Love coffee, foods, beer, ... anything edible.</p>
					<p>90% absent-minded. No liturature common sense</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<h4 style="font-family:Palatino Linotype; color: #000000">Why do I build Cheersee</h4>
			<p>Cus I feel insane talking to people who have nothing in common. I believe life is more enjoyable and better if I can share my time with people who have the same hobbies, interests and passions anytime anywhere I want.</p>
			<h4 style="font-family:Palatino Linotype; color: #000000">My mission</h4>
			<p>Destroy all barriers which inhibit people from sharing personal touch and real experiences.</p>
		</div>
		<div class="row">
			<h4 style="font-family:Palatino Linotype; color: #000000">Personality</h4>
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
				<li>
					<h5 style="color: #676766">Friendly</h5>
					<div class="progress small-11 round">
		  				<span class="meter" style="width: 70%"></span>
					</div>
				</li>
				<li>
					<h5 style="color: #676766">Fun</h5>
					<div class="progress small-11 alert round">
		  				<span class="meter" style="width: 30%"></span>
					</div>
				</li>
				<li>
					<h5 style="color: #676766">Confidence</h5>
					<div class="progress small-11 success round">
		  				<span class="meter" style="width: 80%"></span>
					</div>
				</li>
				<li>
					<h5 style="color: #676766">Curiosity</h5>
					<div class="progress small-11 round">
		  				<span class="meter" style="width: 60%"></span>
					</div>
				</li>
			</ul>
		</div>	
	</div>
</div>