<div class="large-10 medium-11 small-centered columns">
	<% flash.each do |message_type, message| %>
	  <div data-alert class="alert-box <%= message_type %> radius"><%= message %>
	  <a href="#" class="close">&times;</a>
	  </div>
	<% end %>
</div>