<% if @reputation.time_early.present? || @reputation.time_late.present? || @reputation.never_come.present? %>
  <% if @reputation.time_early == 0 && @reputation.time_late == 0 && @reputation.never_come == 0 %>
  <% else %>
    <div class="small-11 small-centered columns stackbar" style="width: 90%">
    	<span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Early">
    	  <div style="width:<%= @reputation.time_early/@reputation.number_of_rate*100 %>%; background-color: #43AC6A"></div>
    	</span>
    	<span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Late">
    	  <div style="width:<%= @reputation.time_late/@reputation.number_of_rate*100 %>%; background-color: #f08a24"></div>
      </span>
      <span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large" title="Missed">
    	  <div style="width:<%= @reputation.never_come/@reputation.number_of_rate*100 %>%; background-color: #f04124"></div>
    	</span>
    </div>
  <% end %>
<% end %>
<style>
	.stackbar div {
		float:left;
		height:30px;
	}
</style>
