<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h2>We have a new question from <%= @user.name %></h2>
      <h2>Email: <%= @user.email %></h2>
      <h4>"<%= @question %>"</h4>       
  </body>
</html>