// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
	color: grey;
}
h3, h4 {
	color: black;
	font-family:Palatino Linotype;
}
h5, h6 {
	color: grey;
	font-family:Palatino Linotype;
}
label {
	color: grey;
}
span {
	color: black;
	margin-left: 0.5em;
}