<html>
<body style="width: 100%">
<div class="text-center" style="background-color: #7D1935; margin-left: auto; margin-right: auto; width: 70%; padding: 2%; min-height: 15px">
  <h1 style="text-align: center; color: white">Thank you <%= @resource.name %>!</h1>
</div>
<div style="background-color: #F5F3EE; margin-left: auto; margin-right: auto; width: 70%; min-height: 50%; padding: 2%">
<p>You can confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>

<ul><h3>What next?<h3></ul>
<li>Join a challenge. Or create your own!</li>
<li>Catchup with friends and have fun.</li>
<li>Compete with people around!.</li>
</ul>
<br/>

<h4>Best regards,</h4>
<h4>Vuong Ngo<h4>
<a href="http://about.me/vuongngo_pd" target="blank">http://about.me/vuongngo_pd</a>
</div>		
<div class="text-center" style="background-color:#4A96AD; margin-left: auto; margin-right: auto; width: 70%; padding: 2%; min-height: 15px">
  <p style="text-align: center;"><b>Powered by Cheersee.co</b>
  <a href="#" class="myButton">Facebook</a>
  <a href="#" class="myButton">Twitter</a>
  </p>
</div>
</body>
</html>